*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  background-color: rgb(255, 255, 255);
}
.header_nav{
  background-image: linear-gradient(to right bottom, #000000, #1b1b1b, #2e2e2e, #444444, #5a5a5a);
  border-bottom: rgb(206, 206, 206) solid 0.8vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}
.container1{
  display: flex;
}
.Titulo{
font-size: 50px;
color: white;
text-decoration: none;
}
.links1{
  text-decoration: none;
}
.carrito{
  width: 60px;
  height: auto;
  background-color: white;
  border-radius: 50%;
}
.carrito:hover{
  cursor: pointer;
}
#button{
  background-color: rgba(154, 154, 154, 0);
  color: rgb(255, 255, 255);
  border: #c6c6c694 solid 3px;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
  border-radius: 10px;
  align-items: center;
  text-decoration: none;
}
#button:hover{
  background-color: #ffffff44;
  transform: scale(105%);
  transition-duration: 300ms;
  cursor: pointer;
}
.container2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex-direction: column;
}
.texto{
  font-size: 60px;
  text-shadow: 5px 5px 5px grey;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}
.container3{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.card{
  width: 100%;
  margin: 20px;
  max-width: 524px;
  border-radius: 6px;
  overflow: hidden;
  background: white;
  box-shadow: 0px 1px 10px black;
  transition: all 400ms ease;
  cursor: default;
  margin-top: 40px;
}
.card:hover{
  box-shadow: 5px 5px 20px black;
  transform: translateY(-3%);
}
.card img{
  width: 524px;
  height: 350px;
  object-fit: contain;
  border-bottom: #181818 solid 2px;
}
.contenido p{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 15px;
  padding: 10px;
}
.contenido h3{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 25px;
  padding: 10px;
}
.contenido a{
  text-decoration: none;
}
.filter{
  display: none;
}
.boton{
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  border: #4d98ee94 solid 3px;
  border-radius: 6px;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 15px;
  color: #000000;
}
.boton:hover{
  background-color: #4d98ee44;
  transform: scale(105%);
  transition-duration: 300ms;
  cursor: pointer;
}
.cajaDeBoton{
  display: flex;
  justify-content: center;
}
.containerSumaResta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.container4{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.sumaResta{
  width: 30px;
  height: 30px;
  align-items: center;
  border: #4d98ee94 solid 3px;
  border-radius: 5px;
}
.sumaResta:hover{
  background-color: #4d98ee44;
  transform: scale(105%);
  transition-duration: 300ms;
  cursor: pointer;
}
.agregar{
  display: flex;
  border: #4d98ee94 solid 3px;
  border-radius: 5px;
  margin: 5px 5px 10px 5px;
  padding: 5px;
}
.agregar:hover{
  background-color: #4d98ee44;
  transform: scale(105%);
  transition-duration: 300ms;
  cursor: pointer;
}